@font-face {
  font-family: 'harry_pregular';
  src: url('./harry-p-font/webfontkit-20200412-142210/harryp-mvz6w-webfont.woff2') format('woff2'),
       url('./harry-p-font/webfontkit-20200412-142210/harryp-mvz6w-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'harry_pregular';
  background-image: url("./parchment2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-family: 'harry_pregular';
  font-size: 100px;
  /* background: -webkit-linear-gradient(#ffda02, #544800);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  font-size: 65px;
  margin: 0;
}

h2 {
  font-size: 40px;
  margin: 0;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-25px);
	}
	100% {
		transform: translatey(0px);
	}
}

span.house {
  border: none;
}

.Home {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  justify-items: center;
}

section.house {
  font-size: 60px;
  border: 2px solid;
  border-radius: 5%;
  width: 400px;
  height: 400px;
  text-align: center;
  margin-bottom: 20px;
}

section.house p {
  margin: 25px;
}
section.house hr {
  background-color: black;
  border: none;
  height: 2px;
  margin: 0;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Login {
  height: 100vh;
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;

}

.logout {
  font-family: 'harry_pregular';
  font-size: 30px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  float: right;
}

.hogwarts-crest {
  width: 200px;
}

.hogwarts-ticket {
  width: 300px;
  cursor: pointer;
}

.floating {
  animation: float 6s ease-in-out infinite;
}

.housesHeader {
  font-size: 45px;
}
