@font-face {
  font-family: 'harry_pregular';
  src: url('./harry-p-font/webfontkit-20200412-142210/harryp-mvz6w-webfont.woff2') format('woff2'),
       url('./harry-p-font/webfontkit-20200412-142210/harryp-mvz6w-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ramona_handwritingregular';
  src: url('./ramona-font/ramonahandwritingregular-xvok-webfont.woff2') format('woff2'),
       url('./ramona-font/ramonahandwritingregular-xvok-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  font-family: 'harry_pregular';
  background-image: url("./parchment2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.sortingHatContainer {
  background-image: url("./great-hall.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position:fixed;
  top: 0;
  left: 0;
}

.sortingHat {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'harry_pregular';
  font-size: 100px;
  /* background: -webkit-linear-gradient(#ffda02, #544800);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  font-size: 65px;
  margin: 0;
}

h2 {
  font-size: 40px;
  margin: 0;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-25px);
	}
	100% {
		transform: translatey(0px);
	}
}

img[alt="Sorting Hat"] {
  transform: translatey(0px);
  filter: drop-shadow(7px 15px 10px #110);
  animation: float 6s ease-in-out infinite;
  width: 500px;
}

.messageContainer {
  position: relative;
  top: 20px;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-left: 50px;
  background: rgba(153, 149, 147, 0.55);
  padding: 0 20px;
  border-radius: 10px;
}

.message {
  font-family: 'ramona_handwritingregular';
  width: 100%;
  font-size: 30px;
}

.yell {
  font-size: 70px;
  text-align: center;
}

.typewriter {
  visibility: hidden;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /* border-right: .15em solid orange; The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: initial auto; /* Gives that scrolling effect as the typing happens */
  /* letter-spacing: .15em; Adjust as needed */
  animation:
    typing 4s steps(150, end);
  animation-fill-mode: forwards;
}

.first {
  /* animation-delay: 0.5s; */
}

.second {
  animation-delay: 6s;
}

.third {
  animation-delay: 11s;
}

.fourth {
  animation-delay: 16s;
}

.fifth {
  animation: typing 1s steps(50, end);
  animation-delay: 23s;
  animation-fill-mode: forwards;
}

.entryContainer {
  margin: 0 auto;
  width: fit-content;
  cursor: pointer;
}

.entry {
  font-family: 'ramona_handwritingregular';
  font-size: 30px;
  visibility: hidden;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /* border-right: .15em solid orange; The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: initial auto; /* Gives that scrolling effect as the typing happens */
  animation-fill-mode: forwards;
  text-align: center;
  animation: typingCenter 1s steps(50, end);
  animation-delay: 26s;
  animation-fill-mode: forwards;
  background: rgba(153, 149, 147, 0.55);
  padding: 5px 20px;
  border-radius: 10px;
}

/* The typing effect */
@keyframes typing {
  from { width: 0; visibility: visible; }
  to { width: 100%; visibility: visible; }
}

@keyframes typingCenter {
  from { width: 0; visibility: visible; }
  to { width: 100%; visibility: visible; }
}

span.house {
  border: none;
}

.Home {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  justify-items: center;
}

section.house {
  font-size: 60px;
  border: 2px solid;
  border-radius: 5%;
  width: 400px;
  height: 400px;
  text-align: center;
  margin-bottom: 20px;
}

section.house p {
  margin: 25px;
}
section.house hr {
  background-color: black;
  border: none;
  height: 2px;
  margin: 0;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Login {
  height: 100vh;
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;

}

.logout {
  font-family: 'harry_pregular';
  font-size: 30px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  float: right;
}

.hogwarts-crest {
  width: 200px;
}

.hogwarts-ticket {
  width: 300px;
  cursor: pointer;
}

.floating {
  animation: float 6s ease-in-out infinite;
}

.housesHeader {
  font-size: 45px;
}
