.header {
  grid-column: 1 / span 2;
  margin-top: 50px;
}

.grid-custom {
  grid-auto-rows: minmax(500px, auto);
  grid-template-columns: 500px 500px;
}

.overlay {
  background-color: rgba(141, 141, 141, 0.26);
  filter: drop-shadow(1px 2px 0px white);
}

.signOut {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 1.5rem;
}

input.points {
  background: transparent;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 2.25rem;
  text-align: center;
  outline: none;
}
